/* 默认指针（普通状态） */
html, body, label {
    cursor: url('/assets/cursors/normal.cur'), auto;
}

/* 链接/按钮（手指） */
a,
button,
select,
.cursor-link,
[role="button"],
.cursor-pointer,
input[type="button"] {
    cursor: url('/assets/cursors/link.cur'), pointer;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="time"],
textarea,
[contenteditable="true"],
.cursor-text {
    cursor: url('/assets/cursors/text_static_white.cur') 7 16, text;
}

.cursor-grab {
    cursor: url('/assets/cursors/move.cur'), grab;
}